.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

* {
  background-color: #F2F2F2;

}
button{
  margin-top:60px;
  border-radius:11px;
  padding: 10px 40px;

}
.container{
  border: solid;
  height:120px;
  width:120px;
  background-color:;
  margin : 60px auto;
}

.App-link {
  color: #9C9C9C;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/